.container {
  background-color: rebeccapurple;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1.25;
  font-size: 20px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.light {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}
.light-cable {
  width: 4px;
  height: 45px;
  left: 50%;
  top: 0px;
  background-color: black;
}

.light-base {
  background-color: hotpink;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 45px;
  transform: translateX(-50%);

  border-radius: 4px;
}

.light-shade {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);

  border-radius: 50px 50px 0 0;
  border: 50px solid aqua;
  border-bottom: none;
}

.light-bulb {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);

  border-radius: 0 0 20px 20px;
  border: 20px solid white;
  border-top: none;
  opacity: 0.4;
}

.light-pull-string {
  width: auto;
  height: auto;
  position: absolute;
  left: calc(50% + 40px);
  top: 100px;
  transform: translateX(-50%);
}

.light-string {
  width: 4px;
  height: 100px;
  position: absolute;
  left: calc(50%);
  top: 0px;
  transform: translateX(-50%);
  background-color: black;
}

.light-pull {
  width: 8px;
  height: 32px;
  position: absolute;
  left: calc(50%);
  top: 100px;
  transform: translateX(-50%);

  background-color: hotpink;
}

.container.on .light-bulb {
  background-color: yellow;
  opacity: 1;
}

.container.on .light-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle at 50% 120px, yellow, rebeccapurple);
  background-blend-mode: soft-light;
  background-color: rebeccapurple;
}

.bug-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

@keyframes moving-bug {
  0% {
    transform: translate(0%, 0%);
  }
  10% {
    transform: translate(50%, 90%);
  }
  20% {
    transform: translate(100%, 170%);
  }
  30% {
    transform: translate(150%, 100%);
  }
  40% {
    transform: translate(200%, -60%);
  }
  50% {
    transform: translate(250%, -60%);
  }
  60% {
    transform: translate(200%, -150%);
  }
  70% {
    transform: translate(150%, -40%);
  }
  80% {
    transform: translate(100%, 50%);
  }
  90% {
    transform: translate(50%, 25%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.bug {
  position: absolute;
  height: 40px;
  width: 40px;
  background: url(/img/green-beetle.png) top center / 40px 40px;
  top: 20%;
  left: 20%;
  animation: moving-bug 5s infinite;
  transition: all 5s ease 0.5s;
}

.container.on .bug {
  top: 80%;
  left: 10%;
}
