div {
  background-color: rebeccapurple;
  margin: 12px;
  padding: 20px;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1.25;
  font-size: 20px;
  border-radius: 4px;
}

input,
button {
  padding: 8px 12px;
  font-family: sans-serif;
  letter-spacing: 1.25;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}

button {
  border: 2px solid white;
  background-color: rebeccapurple;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2;
  padding: 10px 12px 8px 12px;
}
